:root {
    font-family: 'Plus Jakarta Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Colors */
    --color-main-purple: #635FC7;
    --color-main-purple-hover: #A8A4FF;
    --color-main-purple-opacity-10: #EAE9FA; /* custom color */
    --color-main-purple-opacity-25: #E9E8FF; /* custom color */
    --color-black: #000112;
    --color-black-opacity-25: #BFBFC3; /* custom color */
    --color-black-opacity-50: #7A7C88; /* custom color */
    --color-very-dark-grey-bg: #20212C;
    --color-dark-grey: #2B2C37;
    --color-lines-dark: #3E3F4E;
    --color-medium-grey: #828FA3;
    --color-lines-light: #E4EBFA;
    --color-light-grey-bg: #F4F7FD;
    --color-white: #FFFFFF;
    --color-white-opacity-25: #C5C5CD; /* custom color */
    --color-white-opacity-50: #909096; /* custom color */
    --color-red: #EA5555;
    --color-red-hover: #FF9898;

    /* Global Logic Colors - Light Mode */

    --color-primary-body-bg: var(--color-white);
    --color-primary-body-bg-checked: var(--color-black-opacity-50);
    --color-secondary-body-bg: var(--color-light-grey-bg);
    --color-primary-fg: var(--color-black);
    --color-secondary-fg: var(--color-medium-grey);
    --color-accent-bg: var(--color-main-purple);
    --color-light-accent-bg: var(--color-main-purple-opacity-10);
    --color-light-accent-bg-hover: var(--color-main-purple-opacity-25);
    --color-placeholder-fg: var(--color-black-opacity-25);

    /* Global Logic Colors - Dark Mode */

    .dark-theme {
        --color-primary-body-bg: var(--color-dark-grey);
        --color-primary-body-bg-checked: var(--color-white-opacity-50);
        --color-secondary-body-bg: var(--color-very-dark-grey-bg);
        --color-primary-fg: var(--color-white);
        --color-secondary-fg: var(--color-medium-grey);
        --color-accent-bg: var(--color-main-purple);
        --color-light-accent-bg: var(--color-white);
        --color-light-accent-bg-hover: var(--color-white);
        --color-placeholder-fg: var(--color-white-opacity-25);
    }

    /* Animation */
    --animation-ease-in: color 150ms ease-in, background-color 150ms ease-in, border-color 150ms ease-in;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
    url('./assets/fonts/PlusJakartaSans-Bold.woff') format('woff'),
    url('./assets/fonts/PlusJakartaSans-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
    url('./assets/fonts/PlusJakartaSans-Medium.woff') format("woff"),
    url('./assets/fonts/PlusJakartaSans-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}


*, *::before, *::after {
    box-sizing: border-box;
}

main {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--color-secondary-body-bg);
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}